.ipynb_checkpoints/
data/
cache/
models/*
static/
.venv/
notebooks/.ipynb_checkpoints/
notebooks/__pycache__/
notebooks/cache/*
notebooks/wandb/
notebooks/.tmp*
notebooks/models/*
notebooks/*pickle
notebooks/*feather
